extends layout.jade

block content
    section.pure-g.logos
        //.pure-u-1.pure-u-sm-1-2
            //.img-block: img(src="logo-color.png", alt="NTU HSA Tutorial Day")
        //.pure-u-1.pure-u-sm-1-2
            //.img-block: img(src="logo-time.png", alt="Time")
        //- .pure-u-1-2: .event-date
            //.year 2015
            //span.month March
            //span.date 06
            //.place NTU
    section#intro
        h2 招募學員中!
        h4 7/27-28 台北場 - 台灣大學資訊工程學系
        h4 7/30-31 台南場 - 成功大學資訊工程學系
        hr
        h2 軟體定義網路 跨領域工作坊+黑客松
        h4 Software Defined Network (SDN) Workshop+Hackathon
        h4 主辦單位: 教育部資通訊系統軟體資源中心
        h4 協辦單位: 中研院資創中心、經濟部通訊產業發展推動小組、國立中正大學智慧生活產學技術聯盟
        +intro(p2)
    hr
    section#sponsors
        h2 Sponsors 特別感謝
        .sponsors.pure-g
            each sponsor in sponsors
                .sponsor.pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                    if sponsor.logo
                        .img-block: img(src=sponsor.logo, title=sponsor.full, alt=sponsor.name)
                    if sponsor.url
                        h4: a(href=sponsor.url, target="_blank")= sponsor.full
                    if sponsor.url_2
                        br
                        h4: a(href=sponsor.url_2, target="_blank")= sponsor.full_2
                    else
                        p= sponsor.full_2

//block bottom
//    section#map.map-info
//        .container
//            h2 &dash;&nbsp;活動地點&nbsp;&dash;
//            p
//                | 7/27-28 台北場 - 台灣大學資訊工程學系
//                br
//                | 10617 臺北市羅斯福路四段一號 德田館
//        iframe(src=mapLink)
//            hr
//            p
//                | 7/30-31 台南場 - 成功大學資訊工程學系
//                br
//                | 70101 台南市東區大學路一號 資訊系館
//        iframe(src=mapLink2)
