mixin intro(data)
    each d in data
        if d.p
            p= d.p
        if d.ul
            ul
                each t in d.ul
                    li= t

doctype html
html(lang="zh-TW", xmlns="http://www.w3.org/1999/xhtml")
    head
        - var title = 'NTU HSA Tutorial Day';
        - var description = 'Heterogeneous System Architecture (HSA) Tutorial held by National Taiwan University (NTU)';
        - var image = 'http://teaualune.github.io/hsa-tutorial-day/logo-color.png';
        title= title
        meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no")
        meta(name="description", content=description)
        meta(name="keywords", content="Heterogeneous System Architecture, HSA, National Taiwan University, NTU, Parallel Computing, GPGPU")
        meta(name="og:title", content=title)
        meta(name="og:image", content=image)
        meta(name="og:description", content=description)
        meta(name="twitter:card", content="summary")
        meta(name="twitter:title", content=title)
        meta(name="twitter:description", content=description)
        meta(name="twitter:image", content=image)
        link(rel="stylesheet", type="text/css", href="app.css")
        link(rel="icon", type="image/png", href="/hsa-tutorial-day/favicon-32x32.png", sizes="32x32")
        link(rel="shortcut icon", type="image/x-icon", href="/hsa-tutorial-day/favicon.ico")
        link(rel="apple-touch-icon", href="/hsa-tutorial-day/apple-touch-icon-180x180.png")
        script(type="text/javascript").
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
              ga('create', 'UA-60128872-1', 'auto');
              ga('send', 'pageview');
    body
        include ./header.jade
        .main.container
            block content
        block bottom
        footer.footer: .container
            h3
                | Contact us:&nbsp;
                a(href="mailto:TBA@TBA") TBA
            small
                | Design by 
                a(href="https://github.com/teaualune", target="_blank") Lawrence Tseng
                | &nbsp;&amp;&nbsp;
                a(href="https://github.com/MedicineYeh", target="_blank") Medicine Yeh
        if scripts && scripts.length
            each s in scripts
                script(type="text/javascript", src=s)
