extends layout.jade

block content
    h1 Sessions
    .session-table
        table.pure-table
            thead: tr
                th Time
                th Title
                th Speaker
            tbody
                each s in sessions
                    if s.span
                        tr(class="one-column")
                            td= s.time
                            td(colspan="3")= s.title
                    else
                        tr
                            td= s.time
                            td= s.title
                            td= s.speaker
