extends layout.jade

block content
    h1 Sessions 議程 - 台北場
    p
        | 日期：2015, 7/30 ~ 7/31
        br
        | 地點：成功大學資訊工程學系
    .session-table
        table.pure-table.pure-table-horizontal
            thead: tr
                th.th-time Time
                th.th-title Title
                th.th-speaker Speaker
            tbody
                each s, index in sessions
                    if s.speaker
                        tr(id="sess-" + index)
                            td= s.time
                            td
                                | #{s.title}
                                if s.intro
                                    | &nbsp;
                                    a.toggle(href="javascript:void(0);", onclick="t(" + index + ");")
                                        span &dtrif;
                                    .session-intro
                                        +intro(s.intro)
                            td= s.speaker
                    else
                        tr.one-column
                            td= s.time
                            td= s.title
                            td

block bottom
    section#map.map-info
        .container
            h2 &dash;&nbsp;活動地點&nbsp;&dash;
            p
                | 7/30-31 台南場 - 成功大學資訊工程學系
                br
                | 70101 台南市東區大學路一號 資訊系館
        iframe(src=mapLink)
    script(type="text/javascript").
        window.t = function (a) {
            var e = document.getElementById('sess-' + a),
                n = 'show-intro';
            if (e.classList) {
                e.classList.toggle(n);
            } else {
                var c = e.className.split(' '),
                    i = c.indexOf(n);
                if (i >= 0) c.splice(i, 1);
                else c.push(n);
                e.className = c.join(' ');
            }
        };

