extends layout.jade

block content
    h1 Sessions 議程
    p
        | 日期：2015/03/06 (五)
        br
        | 地點：台灣大學博理館2樓201
    .session-table
        table.pure-table.pure-table-horizontal
            thead: tr
                th.th-time Time
                th.th-title Title
                th.th-speaker Speaker
            tbody
                each s, index in sessions
                    if s.speaker
                        tr(id="sess-" + index)
                            td= s.time
                            td
                                | #{s.title}
                                if s.intro
                                    | &nbsp;
                                    a.toggle(href="javascript:void(0);", onclick="t(" + index + ");")
                                        span &dtrif;
                                    .session-intro
                                        +intro(s.intro)
                            td= s.speaker
                    else
                        tr.one-column
                            td= s.time
                            td= s.title
                            td

block bottom
    script(type="text/javascript").
        window.t = function (a) {
            var e = document.getElementById('sess-' + a),
                n = 'show-intro';
            if (e.classList) {
                e.classList.toggle(n);
            } else {
                var c = e.className.split(' '),
                    i = c.indexOf(n);
                if (i >= 0) c.splice(i, 1);
                else c.push(n);
                e.className = c.join(' ');
            }
        };
