extends layout.jade

block content
    h1 Sessions
    h3 日期：2015/03/06(五)  地點：台灣大學博理館2樓201
    .session-table
        table.pure-table
            thead: tr
                th Time
                th Title
                th Speaker
            tbody
                each s in sessions
                    if s.span
                        tr(class="one-column")
                            td= s.time
                            td(colspan="3")= s.title
                    else
                        tr
                            td= s.time
                            td= s.title
                            td= s.speaker
