extends layout.jade

block content
    h1 Speakers
    .speaker-list: ul
        each speaker in speakers
            li(class="pure-u-1 pure-u-lg-1-3")
                .hex.hex-o.hex-o-s1: .hex-o-h: .hex.hex-s1
                    .hex-img.hex-img-blurred: img(src=speaker.photoUrl)
                    .hex-img.hex-img-origin: img(src=speaker.photoUrl)
                    .hex-content.speaker-intro
                        h3= speaker.name
                        p= speaker.intro
                .hex-content-sm.speaker-intro
                    h3= speaker.name
                    p= speaker.intro
